.elementor-13198 .elementor-element.elementor-element-418c885 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-418c885
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198 .elementor-element.elementor-element-4b99b07 {
  margin-top: -84px;
  margin-bottom: 0px;
  z-index: 3;
}
.elementor-13198 .elementor-element.elementor-element-106ed4e {
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 7;
}
.elementor-13198
  .elementor-element.elementor-element-25576ff
  .elementor-spacer-inner {
  height: 80px;
}
.elementor-13198
  .elementor-element.elementor-element-beeb37e.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-13198
  .elementor-element.elementor-element-beeb37e
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-c9dc918
  > .elementor-container {
  max-width: 495px;
}
.elementor-13198 .elementor-element.elementor-element-b732803 {
  text-align: center;
  z-index: 3;
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-13198 .elementor-element.elementor-element-b732803 {
  left: -6%;
}
body.rtl .elementor-13198 .elementor-element.elementor-element-b732803 {
  right: -6%;
}
.elementor-13198 .elementor-element.elementor-element-15aad42 {
  width: auto;
  max-width: auto;
}
.elementor-13198
  .elementor-element.elementor-element-7a29abf
  > .elementor-widget-container {
  padding: 24px 48px 24px 24px;
  background-color: var(--e-global-color-524ee74);
  box-shadow: 0px 0px 55px 0px
    rgba(14.999999999999972, 43.99999999999997, 72.99999999999993, 0.13);
}
.elementor-13198 .elementor-element.elementor-element-7a29abf {
  width: auto;
  max-width: auto;
  bottom: 0px;
}
body:not(.rtl) .elementor-13198 .elementor-element.elementor-element-7a29abf {
  right: -6%;
}
body.rtl .elementor-13198 .elementor-element.elementor-element-7a29abf {
  left: -6%;
}
.elementor-13198
  .elementor-element.elementor-element-cafca64
  > .elementor-widget-container {
  margin: -2px -0px 24px 0px;
}
.elementor-13198 .elementor-element.elementor-element-cafca64 {
  width: 600px;
  max-width: 600px;
}
.elementor-13198 .elementor-element.elementor-element-4b65f0d {
  width: 589px;
  max-width: 589px;
}
.elementor-13198
  .elementor-element.elementor-element-7f418d6
  .elementor-spacer-inner {
  height: 1px;
}
.elementor-13198
  .elementor-element.elementor-element-0188b44
  > .elementor-widget-container {
  margin: 20px 0px 0px -6px;
}
.elementor-13198 .elementor-element.elementor-element-0188b44 {
  width: auto;
  max-width: auto;
}
.elementor-13198
  .elementor-element.elementor-element-1ee595f
  .elementor-spacer-inner {
  height: 24px;
}
.elementor-13198
  .elementor-element.elementor-element-c14a878
  > .elementor-widget-container {
  margin: 6px 0px 0px 0px;
}
.elementor-13198 .elementor-element.elementor-element-c14a878 {
  width: auto;
  max-width: auto;
}
.elementor-13198
  .elementor-element.elementor-element-b148d57
  > .elementor-widget-container {
  margin: 6px 0px 0px 32px;
}
.elementor-13198 .elementor-element.elementor-element-b148d57 {
  width: auto;
  max-width: auto;
}
.elementor-13198
  .elementor-element.elementor-element-c50cd53
  .elementor-spacer-inner {
  height: 90px;
}
.elementor-13198
  .elementor-element.elementor-element-dceea70:not(.elementor-motion-effects-element-type-background),
.elementor-13198
  .elementor-element.elementor-element-dceea70
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://homefort.like-themes.com/wp-content/uploads/2021/10/plan_left-015.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.elementor-13198 .elementor-element.elementor-element-dceea70 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 140px 0px 160px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-dceea70
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-a3e7585
  > .elementor-widget-container {
  margin: 0px 12px 24px 0px;
}
.elementor-13198 .elementor-element.elementor-element-848c794 {
  width: 589px;
  max-width: 589px;
}
.elementor-13198
  .elementor-element.elementor-element-2dcf4da
  .elementor-spacer-inner {
  height: 110px;
}
.elementor-13198 .elementor-element.elementor-element-74d0c23 {
  padding: 0px 0px 0px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-ba0400a.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-13198 .elementor-element.elementor-element-208ac0e {
  text-align: center;
}
.elementor-13198
  .elementor-element.elementor-element-208ac0e
  > .elementor-widget-container {
  margin: 64px 0px 64px 0px;
}
.elementor-13198 .elementor-element.elementor-element-6d55df9 {
  width: 1300px;
  max-width: 1300px;
}
.elementor-13198
  .elementor-element.elementor-element-22b7e76
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-13198 .elementor-element.elementor-element-aebb39b {
  text-align: center;
}
.elementor-13198
  .elementor-element.elementor-element-cdb10fe
  .elementor-spacer-inner {
  height: 140px;
}
.elementor-13198
  .elementor-element.elementor-element-6322d37:not(.elementor-motion-effects-element-type-background),
.elementor-13198
  .elementor-element.elementor-element-6322d37
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://homefort.like-themes.com/wp-content/uploads/2021/10/air-bg.jpg");
  background-position: center right;
  background-size: cover;
}
.elementor-13198 .elementor-element.elementor-element-6322d37 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 170px 0px 200px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-6322d37
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-5edd156
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
}
.elementor-13198 .elementor-element.elementor-element-2a28e54 {
  width: 460px;
  max-width: 460px;
}
.elementor-13198
  .elementor-element.elementor-element-5b5b3b2
  > .elementor-widget-container {
  margin: 80px 0px 0px 0px;
}
.elementor-13198 .elementor-element.elementor-element-5399768 {
  z-index: 0;
}
.elementor-13198 .elementor-element.elementor-element-cf8a8a5 {
  margin-top: -120px;
  margin-bottom: 0px;
}
.elementor-13198
  .elementor-element.elementor-element-1f18fc8:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-13198
  .elementor-element.elementor-element-1f18fc8
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-524ee74);
}
.elementor-13198
  .elementor-element.elementor-element-1f18fc8
  > .elementor-element-populated {
  box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.08);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-1f18fc8
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-60e5da6
  > .elementor-widget-container {
  margin: 60px 0px 60px 0px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.elementor-13198
  .elementor-element.elementor-element-f7c8282:not(.elementor-motion-effects-element-type-background),
.elementor-13198
  .elementor-element.elementor-element-f7c8282
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://homefort.like-themes.com/wp-content/uploads/2021/10/form-builder-jpg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.elementor-13198 .elementor-element.elementor-element-f7c8282 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 155px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-f7c8282
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198 .elementor-element.elementor-element-6c2cc89 {
  padding: 32px 0px 0px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-3abf907
  > .elementor-widget-container {
  margin: -2px -0px 24px 0px;
}
.elementor-13198 .elementor-element.elementor-element-3abf907 {
  width: 440px;
  max-width: 440px;
}
.elementor-13198
  .elementor-element.elementor-element-a60b532
  .elementor-spacer-inner {
  height: 1px;
}
.elementor-13198 .elementor-element.elementor-element-db795e9 {
  width: 480px;
  max-width: 480px;
}
.elementor-13198
  .elementor-element.elementor-element-f7fa4d2
  > .elementor-widget-container {
  margin: 30px 0px 0px 7px;
}
.elementor-13198 .elementor-element.elementor-element-f7fa4d2 {
  width: 465px;
  max-width: 465px;
}
.elementor-13198
  .elementor-element.elementor-element-12c4552.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-13198
  .elementor-element.elementor-element-12c4552
  > .elementor-element-populated {
  padding: 70px 0px 0px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-b01a32f
  > .elementor-widget-container {
  padding: 45px 65px 25px 65px;
}
.elementor-13198 .elementor-element.elementor-element-b01a32f {
  width: 500px;
  max-width: 500px;
}
.elementor-13198
  .elementor-element.elementor-element-ce91b10:not(.elementor-motion-effects-element-type-background),
.elementor-13198
  .elementor-element.elementor-element-ce91b10
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://homefort.like-themes.com/wp-content/uploads/2021/10/parallax_02.jpg");
}
.elementor-13198 .elementor-element.elementor-element-ce91b10 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 190px 0px 210px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-ce91b10
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-e961639.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-13198 .elementor-element.elementor-element-96c5ce8 {
  text-align: center;
}
.elementor-13198
  .elementor-element.elementor-element-96c5ce8
  > .elementor-widget-container {
  margin: 0px 0px 64px 0px;
}
.elementor-13198 .elementor-element.elementor-element-2086c9c {
  width: auto;
  max-width: auto;
}
.elementor-13198
  .elementor-element.elementor-element-0c31f36
  > .elementor-widget-container {
  margin: 0px 0px 0px 35px;
}
.elementor-13198 .elementor-element.elementor-element-0c31f36 {
  width: auto;
  max-width: auto;
}
.elementor-13198 .elementor-element.elementor-element-9f7fc30 {
  padding: 70px 0px 64px 0px;
}
.elementor-13198 .elementor-element.elementor-element-e01bde3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-e01bde3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13198
  .elementor-element.elementor-element-57545ca.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-13198
  .elementor-element.elementor-element-cbdf803
  .elementor-spacer-inner {
  height: 110px;
}
.elementor-13198 .elementor-element.elementor-element-c6d3edf {
  text-align: center;
}
.elementor-13198
  .elementor-element.elementor-element-c6d3edf
  > .elementor-widget-container {
  margin: 0px 0px 8px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-689eaf8
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-13198
  .elementor-element.elementor-element-ad2adce
  .elementor-spacer-inner {
  height: 90px;
}
.elementor-13198 .elementor-element.elementor-element-b885bdc {
  text-align: center;
}
.elementor-13198
  .elementor-element.elementor-element-b885bdc
  > .elementor-widget-container {
  margin: 80px 0px 36px 0px;
}
.elementor-13198 .elementor-element.elementor-element-3f48b9d {
  margin-top: 110px;
  margin-bottom: 110px;
}
@media (max-width: 1199px) {
  .elementor-13198
    .elementor-element.elementor-element-25576ff
    .elementor-spacer-inner {
    height: 80px;
  }
  .elementor-13198
    .elementor-element.elementor-element-beeb37e.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-b732803 {
    top: 0%;
  }
  .elementor-13198 .elementor-element.elementor-element-15aad42 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-13198
    .elementor-element.elementor-element-ad88f1e.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-b066231 {
    margin-top: 64px;
    margin-bottom: 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-f516749.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-cafca64 {
    text-align: center;
  }
  .elementor-13198 .elementor-element.elementor-element-4b65f0d {
    text-align: center;
  }
  .elementor-13198
    .elementor-element.elementor-element-c14a878
    > .elementor-widget-container {
    margin: 0px 0px 32px -10px;
  }
  .elementor-13198 .elementor-element.elementor-element-c14a878 {
    width: auto;
    max-width: auto;
  }
  .elementor-13198
    .elementor-element.elementor-element-b148d57
    > .elementor-widget-container {
    margin: 0px 0px 0px 32px;
  }
  .elementor-13198 .elementor-element.elementor-element-b148d57 {
    width: auto;
    max-width: auto;
  }
  .elementor-13198
    .elementor-element.elementor-element-c50cd53
    .elementor-spacer-inner {
    height: 16px;
  }
  .elementor-13198 .elementor-element.elementor-element-dceea70 {
    padding: 100px 0px 100px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-4416b35.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-a3e7585 {
    text-align: center;
  }
  .elementor-13198 .elementor-element.elementor-element-848c794 {
    text-align: center;
  }
  .elementor-13198
    .elementor-element.elementor-element-2dcf4da
    .elementor-spacer-inner {
    height: 48px;
  }
  .elementor-13198 .elementor-element.elementor-element-208ac0e {
    text-align: center;
  }
  .elementor-13198
    .elementor-element.elementor-element-208ac0e
    > .elementor-widget-container {
    margin: 32px 0px 0px 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-6322d37 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-0f0225d.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-5edd156 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-2a28e54 {
    text-align: center;
  }
  .elementor-13198 .elementor-element.elementor-element-5b5b3b2 {
    text-align: center;
  }
  .elementor-13198
    .elementor-element.elementor-element-5b5b3b2
    > .elementor-widget-container {
    margin: 32px 32px 32px 32px;
  }
  .elementor-13198 .elementor-element.elementor-element-f7c8282 {
    padding: 0px 0px 100px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-232b682.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-6c2cc89 {
    margin-top: 64px;
    margin-bottom: 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-5c1c3ff.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198 .elementor-element.elementor-element-3abf907 {
    text-align: center;
  }
  .elementor-13198 .elementor-element.elementor-element-db795e9 {
    text-align: center;
  }
  .elementor-13198 .elementor-element.elementor-element-f7fa4d2 {
    width: 397px;
    max-width: 397px;
  }
  .elementor-13198
    .elementor-element.elementor-element-12c4552.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-13198
    .elementor-element.elementor-element-57545ca
    > .elementor-element-populated {
    padding: 0px 30px 0px 30px;
  }
  .elementor-13198
    .elementor-element.elementor-element-c6d3edf
    > .elementor-widget-container {
    margin: 0px 0px 32px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-689eaf8
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-ad2adce
    .elementor-spacer-inner {
    height: 48px;
  }
  .elementor-13198 .elementor-element.elementor-element-3f48b9d {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .elementor-13198 .elementor-element.elementor-element-4b99b07 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-25576ff
    .elementor-spacer-inner {
    height: 24px;
  }
  .elementor-13198 .elementor-element.elementor-element-5fe1776 {
    padding: 32px 0px 0px 0px;
  }
  body:not(.rtl) .elementor-13198 .elementor-element.elementor-element-b732803 {
    left: 0px;
  }
  body.rtl .elementor-13198 .elementor-element.elementor-element-b732803 {
    right: 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-b732803 {
    top: 0px;
  }
  body:not(.rtl) .elementor-13198 .elementor-element.elementor-element-7a29abf {
    right: 0px;
  }
  body.rtl .elementor-13198 .elementor-element.elementor-element-7a29abf {
    left: 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-1ee595f
    .elementor-spacer-inner {
    height: 24px;
  }
  .elementor-13198
    .elementor-element.elementor-element-c14a878
    > .elementor-widget-container {
    margin: 0px 0px 0px -14px;
  }
  .elementor-13198
    .elementor-element.elementor-element-b148d57
    > .elementor-widget-container {
    margin: 32px 0px 0px 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-b148d57 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-13198
    .elementor-element.elementor-element-c50cd53
    .elementor-spacer-inner {
    height: 50px;
  }
  .elementor-13198 .elementor-element.elementor-element-74d0c23 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-22b7e76
    .elementor-spacer-inner {
    height: 16px;
  }
  .elementor-13198
    .elementor-element.elementor-element-cdb10fe
    .elementor-spacer-inner {
    height: 90px;
  }
  .elementor-13198 .elementor-element.elementor-element-0f0225d {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-5399768 {
    padding: 32px 0px 35px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-f7c8282:not(.elementor-motion-effects-element-type-background),
  .elementor-13198
    .elementor-element.elementor-element-f7c8282
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: -1000px 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-ce91b10 {
    padding: 100px 0px 100px 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-2086c9c {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-13198
    .elementor-element.elementor-element-0c31f36
    > .elementor-widget-container {
    margin: 32px 0px 0px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-57545ca
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-13198
    .elementor-element.elementor-element-c6d3edf
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-689eaf8
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-253ee44 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13198
    .elementor-element.elementor-element-b885bdc
    > .elementor-widget-container {
    margin: 48px 0px 16px 0px;
  }
  .elementor-13198 .elementor-element.elementor-element-3f48b9d {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}
@media (min-width: 768px) {
  .elementor-13198 .elementor-element.elementor-element-beeb37e {
    width: 50%;
  }
  .elementor-13198 .elementor-element.elementor-element-ad88f1e {
    width: 50%;
  }
  .elementor-13198 .elementor-element.elementor-element-f516749 {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-4416b35 {
    width: 25%;
  }
  .elementor-13198 .elementor-element.elementor-element-a555081 {
    width: 75%;
  }
  .elementor-13198 .elementor-element.elementor-element-4fb3a14 {
    width: 60%;
  }
  .elementor-13198 .elementor-element.elementor-element-0f0225d {
    width: 40%;
  }
  .elementor-13198 .elementor-element.elementor-element-5c1c3ff {
    width: 100%;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .elementor-13198 .elementor-element.elementor-element-beeb37e {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-ad88f1e {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-4416b35 {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-a555081 {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-4fb3a14 {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-0f0225d {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-232b682 {
    width: 100%;
  }
  .elementor-13198 .elementor-element.elementor-element-12c4552 {
    width: 100%;
  }
}
